<br> <br>
Enter Server Name: <input type= "text" (input)="captureData($event)" [value] = "data">
<br>
<button [disabled] = "!btnDisabled" type="button" class="btn btn-primary" (click)= "startServer()">Start Server</button>
<br>

<!--  <h3 *ngIf= "serverCreated" [ngStyle] = "{color : getColor()}"> {{ serverStatus }} </h3> -->
<h1 *ngIf="serverCreated">Here is the list of created servers: </h1>
<ul *ngIf="serverCreated">
<li *ngFor= "let server of servers" [ngClass] = "{online : flag > 5}" [ngStyle] = "{color : getColor()}">Server with name {{ server }} is running!! </li>
</ul>